body {
  padding: 0;
  background: #fff;
  font-family: "微软雅黑";
}
.title {
  text-align: center;
  font-size: 24px;
  color: #48d2fc;
  margin: 80px 0 15px;
}
.subtitle{
		text-align: center;
  	font-size: 20px;
  	color: #48d2fc;
}
.content {
	margin-top: 70px;
  width:100%;
  text-align: center;
  font-size: 16px;
}

#erquery{
	width: 150px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #48d2fc;
  border-radius: 4px;
  color: #fff;
  font-size: 16px; 
	margin:70px auto 0;
	background: #48d2fc;
	
}
#successDiv,#failureDiv{
	text-align: center;
}
.successSpan,.failureSpan{
	font-size: 26px;
	margin-top: 15px;
}
.icon-iconfontcolor94{
	display: block;
	margin-top: 120px;
	font-size: 80px;
	color: #48D2FC;
}
.icon-shibai{
	display: block;
	margin-top: 120px;
	font-size: 80px;
	color: #CCCCCC;
}

